*{margin: 0; padding: 0}
body{
	background-color: #ECEBEB;
}
.headcolor{
	background-color: #7AAE2A;
	padding: 10px 0px 10px 10px;
}
.sublayoutpart{
	height: 2700px;
	width: 90%;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 9px #848484;
}
.shortpara{
	padding-top: 50px;
	font-family: verdana;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
hr{
	margin: 40px 25px 0px 25px;
	border: 4px solid #7AAE2A;
}
#nav{
	background-color: #91BA58;
	height: 46px;
	margin: 25px 25px 0px 25px ;
	padding-bottom: 20px;
	padding-left: 285px;
}
#nav ul{
	background-color: #91BA58;
	list-style-type: none;
	padding-left: 25px;
}
#nav ul li{
	height: 25px;
	float: left;
	border-right: 2px solid #567222;
	display: block;
	padding: 21px 0px 20px 10px;
}
#nav ul li:last-child{
	boder: none;
}
#nav ul li a{
	text-decoration: none;
	color:
	display:block;
	padding:150px 25px;
	font-family: arial;
	font-size: 25px;
}
#nav ul li a:hover{
}
.divwithbackground{
	width: 96.3%;
	height: 500px;
	background-image: url(prog.jpg);
	margin: 0 auto;
	background-repeat: no-repeat;
}
.bg{
	background-color: white;
}
.upperlogo{
	font-family: verdana;
	font-size: 35px;
	font-weight: bold;
	margin-top: 110px;
	margin-left: 140px;
	float: left;
}
.joyself{
	display: inline;
	float: left;
	border:9px solid pink;
	border-radius: 30px;
	margin: 0 auto;
	width: 55%;
	height: 170px;
	margin-left: 50px;
	margin-top: 135px;
	font-family: verdana;
	font-size: 18px;
}
.leftblock{
	clear: left;
	float: left;
	width: 39%;
	height: 250px;
	background-color: #C7D9AB;
	margin-top: 50px;
	margin-left: 145px;
	border-radius: 14px;
	display: inline-block;
	font-family: verdana;
	font-size: 18px;  
}
.rightblock{
	float: left;
	width: 39%;
	height: 250px;
	background-color: #C7D9AB;
	margin-top: 50px;
	margin-left: 5px;
	border-radius: 14px;
	font-family: verdana;
	font-size: 18px; 

}
table{
	border-collapse: collapse;
}
td+td,
th+th{
	border-left: 2px solid green;
}
tr+tr{
	border-top: 2px solid green;
}
.educationblock{
	clear: left;
	margin: 0 auto;
	width: 78.5%;
	text-align: center;
	font-family: verdana;
	font-size: 19px;
	
}
.videoblock{
	margin-top: 30px;
	margin-right: 438px;
	margin-left: 429px;
	padding-bottom: 10px;
	border: 1px solid green;
	box-shadow: 0 0  50px #7AAE2A;
}
.audioblock{
	margin-right: 440px;
	margin-left: 440px;
	padding-bottom: 10px;
	border: 1px solid green;
	box-shadow: 0 0  50px #7AAE2A;
}
.endcolor{
	background-color: #B7D27A;
	height: 75px;
}